{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title> HOME - {% if user %}{{user}}{% endif %}</title>

    <style>
      .main{
        background-color: rgb(238, 238, 238);
      }

      .invoice {
          padding: 20px;
          border-radius: 10px;
          display: flex;
          flex-direction: column; /* Display children vertically */
          align-items: center; /* Center align items horizontally */
      }
  
      .form-group {
          margin-bottom: 20px;
          width: 100%;
          display: flex;
          flex-direction: row; /* Display children horizontally */
          justify-content: space-between; /* Space between children */
      }

      .form-control{
        height: 50px;
      }
  
      .form-group label {
          width: 30%; /* Adjust label width as needed */
          margin-right: 10px; /* Add spacing between label and input */
      }
  
      .form-group input, .form-group select, .form-group textarea {
          width: 60%; /* Adjust input width as needed */
      }
  
      .add-item, .submit-btn {
          margin-top: 20px; /* Add margin between buttons and form fields */
      }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">USER HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/change_pass"> Change_Password </a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="main">
        <div class="invoice-container container">
            <div class="container invoice form text-center">
              <!-- <h2 class="text-center">Create New Invoice</h2> -->
              <form method="post" enctype="multipart/form-data" id="invoice_form" class="main-invoice-form text-center">
                {% csrf_token %}
                <!-- main form start --- in our case product form -->
                <div class="card">
                    <div class="card-header card-header-secondary">
                        <h4 class="card-title">Update Invoice - {{invoice_id}}</h4>
                    </div>
                    {% for field in invoice_form %}
                        <div class="form-group card-body">
                            <label>{{field.label}}</label>
                            {% if field.field.required %}
                                <span style="color: red;" class="required">*</span>
                            {% endif %}
                        
                            {{field}}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                {{ item_formset.management_form }}
                <script type="text/html" id="formset-items-template">  // id="inlineformsetname-template"
                  // id='inlineformsetname-__prefix__' 
                  <tr id="formset-items-__prefix__" class= hide_all>
                      {% for fields in item_formset.empty_form.hidden_fields %}
                          {{ fields }}
                      {% endfor %}
                  
                      {% for fields in item_formset.empty_form.visible_fields %}
                          <td>{{fields}}</td>
                      {% endfor %}
                  </tr>
                </script>
                
                <div class="table-responsive card mt-4">
                  <div class="card-header card-header-secondary">
                      <h4 class="card-title">Add Items</h4>
                  </div>
                    <table class="table card-body">
                      <thead class="text-secondary">
                          <th>Item No. <span style="color: red;" class="required">*</span></th>
                          <th>Item Name <span style="color: red;" class="required">*</span></th>
                          <th>Quantity <span style="color: red;" class="required">*</span></th>
                          <th>Price <span style="color: red;" class="required">*</span></th>
                          <th class="text-danger">Delete?</th>
                      </thead>
                      <tbody id="formset-items">  <!-- id="item-inlineformsetname" -->
                          <!-- formset non forms errors -->
                          {% for error in item_formset.non_form_errors %}
                              <span style="color: red">{{ error }}</span>
                          {% endfor %}
                          {% for formss in item_formset %}
                              {{ formss.management_form }}
                              <tr id="formset-items-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                  {{ formss.id }}
                                  {% for field in formss.visible_fields %}
                                      <td>
                                          {{field}}
                                          {% for error in field.errors %}
                                              <span style="color: red">{{ error }}</span>
                                          {% endfor %}
                                      </td>
                                  {% endfor %}
                              </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    <a href="#" id="add-items-button" class="btn btn-primary add-items">Add More</a> <!-- id="add-inlineformsetname-button" -->
                </div>
                <div class="form-group mt-5">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
              </form>
            </div>
        </div>
    </div>

    
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>

      $(document).ready(function() {
        // when user clicks add more btn of variants
          $('.add-items').click(function(ev) {
              ev.preventDefault();
              var count = $('#formset-items').children().length;
              var tmplMarkup = $('#formset-items-template').html();
              var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
              $('#formset-items').append(compiledTmpl);
      
              // update form count
              $('#id_items-TOTAL_FORMS').attr('value', count+1);
          });
      });


    </script>
</body>
</html>